@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  border-radius: 3px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: white;
}
.wave1,
.wave2,
.wave3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}
.wave1 {
  position: absolute;
  top: 10px;
  left: 20px;
  transform-origin: 30px 23px;
  animation: bingle 1s linear infinite;
}
.wave2 {
  position: absolute;
  top: 10px;
  left: 4px;
  transform-origin: 40px 40px;
  animation: bingle 3s linear infinite;
}
.wave3 {
  position: absolute;
  top: 1px;
  left: 4px;
  transform-origin: 30px 50px;
  animation: bingle 2s linear infinite;
}
.drop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transform-origin: 30px 70px;
  animation: bingle 4s linear infinite;
}
.size-md2 {
  position: absolute;
  right: 20px;
  top: 10px;
  tansform-origin: 20px 80px;
  animation: bingle 7s linear infinite;
}
.size-md3 {
  position: absolute;
  left: 20px;
  top: 40px;
  tansform-origin: 20px 70px;
  animation: bingle 3s linear infinite;
}
.drop-sm {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  transform-origin: 30px 50px;
  animation: bingle 3s linear infinite;
}
.size-sm2 {
  animation: bingle 5s linear infinite;
  transform-origin: 90px 10px;
  position: absolute;
  right: 19px;
}
.size-sm3 {
  animation: bingle 4s linear infinite;
  transform-origin: 5px 90px;
  position: absolute;
  top: -20px;
  left: 2px;
}
@keyframes bingle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
